.button {
    display: inline-flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 200px;
    border: none;
    background: linear-gradient(90deg, #FFFFFF 0%, #6466E8 100%);
    box-shadow:
            0px 0.54px 1.57px 0px #00000004,
            0px 2.36px 3.26px 0px #00000007,
            0px 5.8px 6.5px 0px #00000009,
            0px 11.17px 12.74px 0px #0000000B,
            0px 18.8px 23.43px 0px #0000000E,
            0px 29px 40px 0px #00000012;
    cursor: pointer;
}

.button:hover {
    .button_arrow {
        left: 5px;
    }
}

.button_logo {
    margin-right: 16px;
}

.button_text {
    margin-right: 16px;
    font-weight: 500;
}

.button_arrow {
    position: relative;
    left: 0;
    transition: all 0.2s;
}